/* Style for title */
body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
  outline: none !important;
}

h1 {
  font: 600 1.5em/1 "Raleway", sans-serif;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  position: absolute;
  width: 50%;
}

.Level {
  font: 600 1.5em/1 "Raleway", sans-serif;
  color: rgba(0, 0, 0, 0.5);
  /* text-align: center; */
}

.h2form {
  text-align: center;
  width: 100%;
  margin-top: 0;
}

.swal2-title {
  font-size: 2rem;
}

.swal2-popup {
  font-size: 15px !important;
}

/* Style for table */
table {
  border-collapse: collapse;
  width: 50%;
  border: 1px solid black;
}

th,
td {
  text-align: center;
  padding: 8px;
  border: 1px solid whitesmoke;
  vertical-align: middle !important;
}

tr:nth-child(even) {
  background-color: white;
}

th {
  background-color: #343a40;
  color: white;
  cursor: pointer;
}

.AnalyticTable:hover {
  background: #dfe6e9;
}

.pagination > .active > a {
  z-index: 1 !important;
}

.error {
  font-size: 2em;
  text-align: center;
  font-weight: 100;
}

button {
  cursor: pointer;
}

.all {
  /* margin: 10px auto; */
  background: linear-gradient(#1d5557, #0e2a2b) !important;
  width: 150px;
  text-transform: uppercase;
  transition: 1.5s all;
  padding: 10px 15px;
  background: #343a40 !important;
  border: none;
  color: white !important;
}

.all:hover {
  border-color: #4b5d5d !important;
  box-shadow: inset 0 0 3px 2px black !important;
  background: #7a0000 !important;
  color: white !important;
}

/* The popup form - hidden by default */
.form-popup {
  position: fixed !important;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
  display: none;
}

.form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  /* overflow: auto; */
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px 95px;
  margin: auto auto;
  background-color: white;
  border: 2px solid black;
}

.flex-container {
  display: flex;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.flex-container > div {
  margin: 10px;
}

.back {
  position: absolute;
  top: 10px;
  left: 20px;
  width: 32px;
  height: 32px;
  color: black !important;
  opacity: 0.5;
  background-color: transparent !important;
  padding: unset;
  cursor: pointer;
}

.back:hover {
  opacity: 1;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 32px;
  height: 32px;
  opacity: 0.5;
  background-color: transparent !important;
}

.close:hover {
  opacity: 1;
}

.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 2px;
  background-color: #333;
  top: 0;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}

.autorefresh {
  position: fixed;
  right: 0px;
  top: 130px;
  background-color: whitesmoke;
  z-index: 1;
}

.dropdown-menu {
  right: 0;
  left: unset;
}

input[type="checkbox"],
input[type="radio"] {
  margin-left: 10px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.dropdown-toggle::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

/* For responsive */
@media (max-width: 767px) {
  fieldset {
    padding: 10px;
  }

  .form-container {
    width: 90% !important;
  }

  .all {
    width: 48%;
    margin: 10px 0px;
  }

  .modal-header {
    height: fit-content !important;
  }

  .modal-body {
    padding: 0px;
  }
}

@media (min-width: 768px) and (max-width: 1365px) {
}

@media (min-width: 1366px) and (max-width: 1919px) {
  fieldset {
    padding: 10px;
  }
}

@media (min-width: 1920) {
  fieldset {
    padding: 10px;
  }
}
