/* Style for title */
body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
  outline: none !important;
}

.swal2-popup {
  font-size: 15px !important;
}

/* Style for table */
table {
  border-collapse: collapse;
  width: 50%;
  border: 1px solid black;
  background: white;
}

th,
td {
  text-align: center;
  padding: 8px;
  border: 1px solid whitesmoke;
  vertical-align: middle !important;
}

tr:nth-child(even) {
  background-color: white;
}

th {
  background-color: #343a40;
  color: white;
  cursor: pointer;
}

table > tbody > tr > td > p {
  margin: 0px;
}

div.container {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  margin-top: 20%;
  border: 1px solid whitesmoke;
  padding: 21px;
  border-radius: 25px;
  width: 100%;
  margin-left: 20%;
}

/* Style for form */
.form-container {
  max-width: 300px;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
  border: 2px solid black;
}

.form-popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
  cursor: pointer;
  display: none;
}

h2 {
  margin: 0 0 30px 0;
  text-align: center;
}

input[type="text"],
input[type="number"] {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 10px;
}

.btnForm {
  padding: 19px 39px 18px 39px;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #343a40;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
  margin-bottom: 10px;
  background: #343a40;
  color: white;
}

fieldset {
  margin-bottom: 30px;
  border: none;
}

legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}

/* label {
      display: block;
      margin-bottom: 8px;
  } */

label.light {
  font-weight: 300;
  display: inline;
}

@media screen and (min-width: 480px) {
  .form-container {
    max-width: 480px;
  }
}

.form-containerUpdateDelete {
  width: 760px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px 95px;
  margin: 200px auto;
}

.form-popupUpdateDelete {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
  display: none;
}

.menu {
  height: 400px;
  width: 320px;
  margin: 10% auto;
  border: 2px solid black;
  background-color: #fff;
}

.menulist {
  height: 20px;
  position: relative;
  margin: -20px -50px;
  width: 100px;
  top: 20%;
  left: 38%;
}

.gw {
  background: linear-gradient(#1d5557, #0e2a2b);
  margin: 10px auto;
  width: 180px;
  text-transform: uppercase;
  transition: 1.5s all;
  padding: 10px 15px;
  background: #343a40;
  border: none;
  color: white;
}

.gw:hover {
  border-color: #4b5d5d;
  box-shadow: inset 0 0 3px 2px black;
  background: #7a0000;
  color: white;
}

.conttable {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  transform: translate(-50%, -50%);
}

.autorefresh {
  position: fixed;
  right: 0px;
  top: 130px;
  background-color: whitesmoke;
}

.dropdown-menu {
  right: 0;
  left: unset;
}

input[type="checkbox"],
input[type="radio"] {
  margin-left: 10px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.dropdown-toggle::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

/* For responsive */
@media (max-width: 767px) {
  h1{
    font-size: 1em !important;
  }

  h3 {
    display: none;
  }

  .conttable {
    width: 100%;
    top: 60%;
  }

  .add {
    position: fixed;
    top: 0px !important;
    left: 0px !important;
    width: 100%;
    margin: auto;
    padding: 5px;
  }
}

@media (min-width: 768px) and (max-width: 1365px) {
  .conttable {
    width: 80%;
  }

  h1 {
    top: 10%;
  }
}

@media (min-width: 1366px) and (max-width: 1919px) {
  h1 {
    top: 0%;
  }
}

@media (min-width: 1920) {
  h1 {
    top: 0%;
  }
}
