/* Style for title */
body {
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
    outline: none !important;
}

h1 {
    font: 600 1.5em/1 'Raleway', sans-serif;
    color: rgba(0, 0, 0, .5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    position: absolute;
    top: 10%;
    width: 50%;
    padding: 30px;

}

.h2form {
    margin-top: 0;
    text-align: center;
    width: 100%;
}

.swal2-title {
    font-size: 2.0rem;
}

.swal2-popup {
    font-size: 15px !important;
}

.Level {
    font: 600 1.5em/1 'Raleway', sans-serif;
    color: rgba(0, 0, 0, .5);
    /* text-align: center; */
}

/* Style for table */
table {
    border-collapse: collapse;
    width: 50%;
    border: 1px solid black;
    background: white;
}

th,
td {
    text-align: center;
    padding: 8px;
    border: 1px solid whitesmoke;
}

tr:nth-child(even) {
    background-color: white;
}

th {
    background-color: #343a40;
    color: white;
    cursor: pointer;
}

.pagination>.active>a {
    z-index: 1 !important;
}

.nameDevice {
    position: relative;
    top: 30px;
    line-height: 1.2;
    font-size: 24px;
}

.conttable {
    margin-top: 10px;
    /* position: relative;
    left: 15%;
    width: 70%; */
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 30px;
}

.my-custom-scrollbar {
    position: relative;
    height: 300px;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}

.error {
    font-size: 2em;
    text-align: center;
    font-weight: 100;
    margin-top: 10%;
    left: 25%;
    color: blue;
    z-index: -1;
}

#btnreturn {
    padding: 10px 15px;
    background: #343a40;
    border: none;
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

#btnreturn:hover {
    border-color: #4B5D5D;
    box-shadow: inset 0 0 3px 2px black;
    background: #7A0000;
    color: white;
}

.all {
    background: linear-gradient(#1d5557, #0e2a2b) !important;
    margin: auto;
    width: 150px;
    text-transform: uppercase;
    transition: 1.5s all;
    padding: 10px 15px;
    background: #343a40 !important;
    border: none;
    color: white !important;
}

.all:hover {
    border-color: #4B5D5D !important;
    box-shadow: inset 0 0 3px 2px black !important;
    background: #7A0000 !important;
    color: white !important;
}

.btnForm {
    padding: 19px 39px 18px 39px;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #343a40;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
    margin-bottom: 10px;
    background: #343a40;
    color: white;
}

/* The popup form - hidden by default */
.form-popup {
    position: fixed !important;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
    display: none;
}

.form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px 95px;
    margin: auto auto;
    background-color: white;
    border: 2px solid black;
}


/** BEGIN: Non Openmrs CSS **/
.title {
    text-align: center !important;
}

select:enabled{
    cursor: pointer;
}

.div {
    position: relative;
    right: 10px;
}

:root {
    --omrs-color-ink-lowest-contrast: rgba(47, 60, 85, 0.18);
    --omrs-color-ink-low-contrast: rgba(60, 60, 67, 0.3);
    --omrs-color-ink-medium-contrast: rgba(19, 19, 21, 0.6);
    --omrs-color-interaction: #1e4bd1;
    --omrs-color-interaction-minus-two: rgba(73, 133, 224, 0.12);
    --omrs-color-danger: #b50706;
    --omrs-color-bg-low-contrast: #eff1f2;
    --omrs-color-ink-high-contrast: #121212;
    --omrs-color-bg-high-contrast: #ffffff;

}

/** END: Non Openmrs CSS **/
div.omrs-input-group {
    margin-bottom: 1.5rem;
    position: relative;
    width: 20.4375rem;
    margin: auto;
}

/* Input*/
.omrs-input-underlined>input,
.omrs-input-filled>input {
    border: none;
    border-bottom: 0.125rem solid var(--omrs-color-ink-medium-contrast);
    width: 100%;
    height: 3rem;
    /* font-size: 1.0625rem; */
    padding-left: 0.875rem;
    /* line-height: 147.6%; */
    padding-top: 0.825rem;
    padding-bottom: 0.5rem;
}

.omrs-input-underlined>input:focus,
.omrs-input-filled>input:focus {
    outline: none;
}

.omrs-input-underlined>.omrs-input-label,
.omrs-input-filled>.omrs-input-label {
    position: absolute;
    top: 0.9375rem;
    left: 0.875rem;
    line-height: 147.6%;
    color: var(--omrs-color-ink-medium-contrast);
    transition: top .2s;
}

.omrs-input-underlined>svg,
.omrs-input-filled>svg {
    position: absolute;
    top: -0.1rem;
    right: -0.5rem;
    fill: var(--omrs-color-ink-medium-contrast);
}

.omrs-input-underlined>.omrs-input-helper,
.omrs-input-filled>.omrs-input-helper {
    font-size: 0.9375rem;
    color: var(--omrs-color-ink-medium-contrast);
    letter-spacing: 0.0275rem;
    margin: 0.125rem 0.875rem;
}

.omrs-input-underlined>input:hover,
.omrs-input-filled>input:hover {
    background: var(--omrs-color-interaction-minus-two);
    border-color: var(--omrs-color-ink-high-contrast);
}

.omrs-input-underlined>input:focus+.omrs-input-label,
.omrs-input-underlined>input:valid+.omrs-input-label,
.omrs-input-filled>input:focus+.omrs-input-label,
.omrs-input-filled>input:valid+.omrs-input-label {
    top: 0;
    font-size: 0.9375rem;
    margin-bottom: 32px;
    ;
}

.omrs-input-underlined:not(.omrs-input-danger)>input:focus+.omrs-input-label,
.omrs-input-filled:not(.omrs-input-danger)>input:focus+.omrs-input-label {
    color: var(--omrs-color-interaction);
}

.omrs-input-underlined:not(.omrs-input-danger)>input:focus,
.omrs-input-filled:not(.omrs-input-danger)>input:focus {
    border-color: var(--omrs-color-interaction);
}

.omrs-input-underlined:not(.omrs-input-danger)>input:focus~svg,
.omrs-input-filled:not(.omrs-input-danger)>input:focus~svg {
    fill: var(--omrs-color-ink-high-contrast);
}

/** DISABLED **/

.omrs-input-underlined>input:disabled {
    background: var(--omrs-color-bg-low-contrast);
    cursor: not-allowed;
}

.omrs-input-underlined>input:disabled+.omrs-input-label,
.omrs-input-underlined>input:disabled~.omrs-input-helper {
    color: var(--omrs-color-ink-low-contrast);
}

.omrs-input-underlined>input:disabled~svg {
    fill: var(--omrs-color-ink-low-contrast);
}


/** DANGER **/

.omrs-input-underlined.omrs-input-danger>.omrs-input-label,
.omrs-input-underlined.omrs-input-danger>.omrs-input-helper,
.omrs-input-filled.omrs-input-danger>.omrs-input-label,
.omrs-input-filled.omrs-input-danger>.omrs-input-helper {
    color: var(--omrs-color-danger);
}

.omrs-input-danger>svg {
    fill: var(--omrs-color-danger);
    top: -0.1rem;
    right: -0.5rem;
}

.omrs-input-danger>input {
    border-color: var(--omrs-color-danger);
}

.omrs-input-underlined>input {
    background: var(--omrs-color-bg-high-contrast);
}

.omrs-input-filled>input {
    background: var(--omrs-color-bg-low-contrast);
}

.close {
    position: absolute;
    /* left: 110%; */
    /* bottom: 30px; */
    top: 10px;
    right: 10px;
    width: 32px;
    height: 32px;
    opacity: 0.5;
    background-color: transparent !important;
}

.close:hover {
    opacity: 1;
}

.close:before,
.close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
    top: 0;
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}

.autorefresh {
    position: fixed;
    right: 0px;
    top: 130px;
    background-color: whitesmoke;
}

.dropdown-menu {
    right: 0;
    left: unset;
}

input[type=checkbox],
input[type=radio] {
    margin-left: 10px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

select:disabled {
    opacity: 0.6;
}

/* For responsive */
@media (max-width: 767px) {
    fieldset {
        padding: 10px
    }

    .form-container {
        width: 90% !important;
    }

    .all {
        width: 48%;
        margin: 10px 0px;
    }

    .modal-header {
        height: fit-content !important;
    }

    .modal-body {
        padding: 0px;
    }
}

@media (min-width: 768px) and (max-width: 1365px) {}

@media (min-width: 1366px) and (max-width: 1919px) {
    fieldset {
        padding: 10px
    }
}

@media (min-width: 1920) {
    fieldset {
        padding: 10px
    }
}