/* Style for title */
body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
	outline: none !important;
}

.h2form {
  margin: 0;
  text-align: center;
  width: 100%;
}

#issueBody p,
#notificationBody p {
  margin: 10px;
}

.swal2-popup {
  font-size: 15px !important;
}

.action {
  padding: 10px 15px;
  background: #343a40;
  border: none;
  color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.action:hover {
  border-color: #4b5d5d;
  box-shadow: inset 0 0 3px 2px black;
  background: #7a0000;
  color: white;
}

.all {
  /* margin: 10px auto; */
  width: 180px;
  text-transform: uppercase;
  transition: 1.5s all;
  padding: 10px 15px;
  background: #343a40 !important;
  border: none;
  color: white !important;
}

.all:hover {
  border-color: #4b5d5d !important;
  box-shadow: inset 0 0 3px 2px black !important;
  background: #7a0000 !important;
  color: white !important;
}

/* Style for form */
.form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px 95px;
  margin: auto auto;
  background-color: white;
  border: 2px solid black;
}

.form-containerDoorSigin {
  max-width: 300px;
  margin: 200px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
  border: 2px solid black;
}

.form-popup {
  position: fixed !important;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
  cursor: pointer;
  display: none;
}

.back {
  /* position: relative; */
  /* right: 15%;
    bottom: 30px; */
  position: absolute;
  top: 10px;
  left: 20px;
  width: 32px;
  height: 32px;
  color: black !important;
  opacity: 0.5;
  background-color: transparent !important;
  padding: unset;
}

.back:hover {
  opacity: 1;
}

.close {
  position: absolute;
  /* left: 110%; */
  /* bottom: 30px; */
  top: 10px;
  right: 10px;
  width: 32px;
  height: 32px;
  opacity: 0.5;
  background-color: transparent !important;
}

.close:hover {
  color: black;
  opacity: 1;
}

.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 2px;
  background-color: #333;
  top: 0;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}

/* input:disabled {
      background: #dddddd;
  } */

input[type="image"]:disabled {
  opacity: 0.5;
}

.autorefresh {
  position: fixed;
  right: 0px;
  top: 130px;
  background-color: whitesmoke;
}

.dropdown-menu {
  right: 0;
  left: unset;
}

input[type="checkbox"],
input[type="radio"] {
  margin-left: 10px;
}

input[type="image"] {
  border: none;
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.dropdown-toggle::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

/* Style for Card */
.card {
  border-radius: 12px;
  box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
  color: #252422;
  margin-bottom: 20px;
  position: relative;
  border: 0 none;
  transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1),
    box-shadow 200ms ease;
  background-color: #ffffff;
}

.card .card-header {
  padding: 15px 15px 0;
  border: 0;
}

.card .card-header .card-title {
  margin-top: 10px;
}

.card-title {
  margin-bottom: 0.75rem;
}

.card-category {
  font-size: 1em;
}

.category,
.card-category {
  text-transform: capitalize;
  font-weight: 400;
  color: #9a9a9a;
  font-size: 0.7142em;
}

.card-stats .card-body {
  padding: 15px 15px 0px;
}

.card-stats .icon-big {
  font-size: 3em;
  min-height: 64px;
}

.card-stats .card-body .numbers {
  text-align: right;
  font-size: 2em;
}

.card-stats .card-body .numbers .card-category {
  /* color: floralwhite; */
  color: #9a9a9a;
  font-size: 16px;
  line-height: 1.4em;
}

.card-stats .card-body .numbers p {
  margin-bottom: 0;
}

.card-stats .card-footer {
  padding: 0px 15px 15px;
}

.card .card-footer {
  background-color: transparent;
  border: 0;
}

.card-stats .card-footer hr {
  margin-top: 10px;
  margin-bottom: 15px;
}

.card-stats .card-footer .stats {
  /* color: floralwhite; */
  color: #9a9a9a;
}

.card .card-footer .stats i {
  margin-right: 5px;
  position: relative;
  top: 0px;
  /* color: floralwhite; */
  color: #66615b;
}

hr {
  border-top: 1px solid #9a9a9a;
}

.stats a:hover {
  color: #1e272e;
  text-underline-position: below;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.card::before,
.card::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scale3d(0, 0, 1);
  transition: transform 0.3s ease-out 0s;
  background: rgba(255, 255, 255, 0.1);
  content: "";
  pointer-events: none;
}
.card::before {
  transform-origin: left top;
}
.card::after {
  transform-origin: right bottom;
}
.card:hover::before,
.card:hover::after,
.card:focus::before,
.card:focus::after {
  transform: scale3d(1, 1, 1);
}

/* End style */

/* Style for flicker */
.animate-flicker {
  position: relative;
  float: right;
}

.animate-flicker i {
  color: #ff4757 !important;
  cursor: pointer;
}

@keyframes flickerAnimation {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.animate-flicker {
  -webkit-animation: flickerAnimation 0.5s infinite;
  -moz-animation: flickerAnimation 0.5s infinite;
  -o-animation: flickerAnimation 0.5s infinite;
  animation: flickerAnimation 0.5s infinite;
}

/* Style for no issue */
.noIssue {
  float: right;
  position: relative;
}

.noIssue i {
  color: #d1d181 !important;
  cursor: pointer;
}

.smiley {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Style for badge notification */
.glyphicon.glyphicon-bell {
  font-size: 20px;
}

.badge {
  position: absolute;
  top: -4px;
  right: -4px;
  border-radius: 50%;
  background-color: red;
  color: red;
  height: 11px;
  font-size: 1;
}

/* For responsive */
@media (max-width: 767px) {
  fieldset {
    padding: 10px;
  }

  .form-container {
    width: 90% !important;
  }

  .all {
    width: 48%;
    margin: 10px 0px;
  }

  .modal-body {
    padding: 0px;
    max-height: calc(80vh - 210px);
    overflow-y: auto;
  }
}

@media (min-width: 768px) and (max-width: 1365px) {
}

@media (min-width: 1366px) and (max-width: 1919px) {
  fieldset {
    padding: 10px;
  }

  .modal-body {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
  }
}

@media (min-width: 1920) {
  fieldset {
    padding: 10px;
  }

  .modal-body {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
  }
}
