:root {
  --white: #f8f8f8;
  --blue: #1889ec;
  --green: #06d6a0;
  --midnight: #073b4c;
  /* font-family: Lato, sans-serif;
  font-size: clamp(2vw, 2rem, 3vw); */
}

h1 {
  font-family: "Lato", sans-serif;
  font-size: 2em;
  font-weight: 200;
  text-align: center;
}

h1>span {
  font-family: "IBM plex serif", serif;
  font-weight: 500;
  font-size: 4em;
}

h3 {
  font-family: "Lato", sans-serif;
  font-size: 1.5em;
  font-weight: 200;
  position: absolute;
  top: 25%;
}

#wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
}
header,
main,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
header,
footer {
  background: var(--blue);
  color: var(--white);
  height: 20vh;
}
main {
  /* min-height: 100vh; */
  background: var(--white);
  z-index: 0;
}
header {
  position: sticky;
  top: 0;
  left: 0;
}
