/* Style for title */
body {
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
    outline: none !important;
}

h1 {
    font: 600 1.5em/1 'Raleway', sans-serif;
    color: rgba(0, 0, 0, .5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    position: absolute;
    width: 50%;

}

.Level {
    font: 600 1.5em/1 'Raleway', sans-serif;
    color: rgba(0, 0, 0, .5);
    /* text-align: center; */
}

.h2form {
    text-align: center;
    width: 100%;
    margin-top: 0;
}

.swal2-title {
    font-size: 2.0rem;
}

.swal2-popup {
    font-size: 15px !important;
}

/* Style for table */
table {
    border-collapse: collapse;
    width: 50%;
    border: 1px solid black;
    background: white;
}

th,
td {
    text-align: center;
    padding: 8px;
    border: 1px solid whitesmoke;
}

tr:nth-child(even) {
    background-color: white;
}

th {
    background-color: #343a40;
    color: white;
    cursor: pointer;
}

.SceneTable:hover {
    background: #dfe6e9;
}

.pagination>.active>a {
    z-index: 1 !important;
}

.error {
    font-size: 2em;
    text-align: center;
    font-weight: 100;
}

button {
    cursor: pointer;
}

.all {
    /* margin: 10px auto; */
    background: linear-gradient(#1d5557, #0e2a2b) !important;
    width: 150px;
    text-transform: uppercase;
    transition: 1.5s all;
    padding: 10px 15px;
    background: #343a40 !important;
    border: none;
    color: white !important;
}

.all:hover {
    border-color: #4B5D5D !important;
    box-shadow: inset 0 0 3px 2px black !important;
    background: #7A0000 !important;
    color: white !important;
}

.add {
    padding: 10px 15px;
    background: #343a40;
    border: none;
    color: white;
    margin-left: 10px;
    margin-right: auto;
    margin-top: 10px;
}

.btnRefresh {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn3 {
    height: auto;
    width: inherit;
    background-color: white;
    color: black;
    border: 2px solid black;
    transition: border 0.7s ease-out, text-transform 1s, border-radius 1s ease-out;
    cursor: pointer;
    border-bottom: solid 4px #000000;
    border-radius: 3px;
    display: inline-block;
    padding: 0.5em 1em;
}

.launch {
    border: 2px solid #eb4d4b;
    border-bottom: solid 4px #eb4d4b;
}

.btn3:active {
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    /*Move down*/
    border-bottom: none;
    /*disappears*/
}

.btn3:hover {
    color: #000000
}

/* Style for form */
.form-container {
    /* width: 500px; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px 95px;
    margin: auto auto;
    background-color: white;
    border: 2px solid black;
}

.form-popup {
    position: fixed !important;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
    display: none;
}

.grid-container {
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto;
    vertical-align: middle;
    justify-items: center;
}

.grid-container>div {
    margin: auto 0 auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    margin-block-end: 0em;
}

/* .wrapper {
    text-align: center;
    position: relative;
} */

.close {
    position: absolute;
    /* left: 110%; */
    /* bottom: 30px; */
    top: 10px;
    right: 10px;
    width: 32px;
    height: 32px;
    opacity: 0.5;
    background-color: transparent !important;
}

.close:hover {
    opacity: 1;
}

.close:before,
.close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
    top: 0;
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}

.conttable {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.autorefresh {
    position: fixed;
    right: 0px;
    top: 130px;
    background-color: whitesmoke;
    z-index: 1;
}

.dropdown-menu {
    right: 0;
    left: unset;
}

input[type=checkbox],
input[type=radio] {
    margin-left: 10px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

/* @media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {

    .btnAdd{
        right:10px !important;
    }
} */

/* For responsive */
@media (max-width: 767px) {
    fieldset {
        padding: 10px
    }

    .form-container {
        width: 90% !important;
    }

    .all {
        width: 48%;
        margin: 10px 0px;
    }

    .modal-header {
        height: fit-content !important;
    }

    .modal-body {
        padding: 0px;
    }
}

@media (min-width: 768px) and (max-width: 1365px) {}

@media (min-width: 1366px) and (max-width: 1919px) {
    fieldset {
        padding: 10px
    }
}

@media (min-width: 1920) {
    fieldset {
        padding: 10px
    }
}