/* Style for title */
body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

* {
    box-sizing: border-box;
    outline: none !important;
}

h1 {
    font: 600 1.5em/1 'Raleway', sans-serif;
    color: rgba(0, 0, 0, .5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    position: absolute;
    top: 10%;
    width: 50%;
    padding: 30px;

}

.title {
    text-align: center;
    margin-bottom: 45px;
}

.h2form {
    text-align: center;
    width: 100%;
    margin: 0px;
}

.nameDevice {
    position: relative;
    top: 30px;
    line-height: 1.2;
    font-size: 24px;
}

.swal2-popup {
    font-size: 15px !important;
}

.Level {
    font: 600 1.5em/1 'Raleway', sans-serif;
    color: rgba(0, 0, 0, .5);
    /* text-align: center; */
}

.all {
    width: 180px;
    text-transform: uppercase;
    transition: 1.5s all;
    padding: 10px 15px;
    background: #343a40 !important;
    border: none;
    color: white !important;
}

.all:hover {
    border-color: #4B5D5D !important;
    box-shadow: inset 0 0 3px 2px black !important;
    background: #7A0000 !important;
    color: white !important;
}

.gap{
    margin: 10px 10px;
}

.btn3 {
    height: auto;
    width: inherit;
    background-color: white;
    color: black;
    border: 2px solid black;
    transition: border 0.7s ease-out, text-transform 1s, border-radius 1s ease-out;
    cursor: pointer;
    border-bottom: solid 4px #000000;
    border-radius: 3px;
    display: inline-block;
    padding: 0.5em 1em;
}

.btn3:active {
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    /*Move down*/
    border-bottom: none;
    /*disappears*/
}

.btn3:hover {
    color: #000000
}

.container {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    margin-top: 30px;
    border: 2px solid black;
    padding-bottom: 15px;
    border-radius: 4px;
    background-color: white;
}

.pass {
    padding: 0px 30px 0px 30px;
    margin: 20px 35px 20px 35px;
}

.grid-container {
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 0px 30px 0px 30px;
    margin: 20px 35px 20px 35px;
    vertical-align: middle;
    justify-items: center;
}

.grid-containerForm {
    text-align: center;
    display: grid;
    grid-template-columns: auto auto;
    margin: 20px 0px 20px 0px;
    vertical-align: middle;
    justify-items: center;
    grid-gap: 10px;
}

div.settings {
    display: grid;
    grid-template-columns: 50px 150px;
    grid-gap: 5px;
}

div.settings label {
    text-align: right;
}

div.settings label:after {
    content: ":";
}

/* .grid-container>div {
    margin: auto 0 auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    font-size: 1em;
} */

.grid-container>.center {
    margin: auto 0px auto 0px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    border: 2px solid white;
    /* position: relative;
    right:50%; */
}

.wrap1,
.wrap2,
.numHistory {
    position: relative;
}

.wrap1 button {
    position: absolute;
    right: 60px;
    top: 5px;
}

.wrap2 button {
    position: absolute;
    right: 10px;
    top: 5px;
}

.numHistory span {
    position: absolute;
    left: 10px;
    top: 5px;
}

/* The popup form - hidden by default */
.form-popup {
    position: fixed !important;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
    display: none;
}

.form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    /* overflow: hidden; */
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px 95px;
    margin: auto auto;
    background-color: white;
    border: 2px solid black;
}

.pass {
    padding: 0px 30px 0px 30px;
    margin: 20px 35px 20px 35px;
}

.omrs-input-group {
    position: relative;
    top: 10%;
    /* right:25%;
    left: 25%; */
}

.close {
    position: absolute;
    /* left: 110%; */
    /* bottom: 30px; */
    top: 10px;
    right: 10px;
    width: 32px;
    height: 32px;
    opacity: 0.5;
    background-color: transparent !important;
}

.close:hover {
    opacity: 1;
}

.close:before,
.close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
    top: 0;
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}

input {
    line-height: normal !important;
}

/* DatePicker */
.ui-datepicker {
    display: none;
    background-color: #fff;
    box-shadow: 0 0.125rem 0.3rem rgba(0, 0, 0, 0.2);
    margin-top: 0.25rem;
    border-radius: 0.5rem;
    padding: 1.5rem;
}

.ui-datepicker-calendar table {
    border-collapse: collapse;
    border-spacing: 0;
}

.ui-datepicker-calendar thead th {
    padding: 0.25rem 0;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 400;
    color: #353535;
}

.ui-datepicker-calendar tbody td {
    width: 2.5rem;
    text-align: center;
    padding: 0;
}

.ui-datepicker-calendar tbody td a {
    display: block;
    border-radius: 50%;
    line-height: 2rem;
    transition: 0.3s all;
    color: #353535;
    font-size: 0.875rem;
    text-decoration: none;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
}

.ui-datepicker-calendar tbody td a:hover {
    background: #e17981;
    color: #fff;
}

.ui-datepicker-calendar tbody td a.ui-state-active {
    background: #d33a47;
    color: #fff;
}

.ui-datepicker-calendar tbody td a.ui-state-highlight {
    color: #d33a47;
    border: 1px solid #d33a47;
}

.ui-datepicker-header a span {
    display: none;
}

.ui-datepicker-header a.ui-corner-all {
    cursor: pointer;
    position: absolute;
    top: 0;
    width: 2rem;
    height: 2rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
}

.ui-datepicker-header a.ui-datepicker-prev {
    left: 0;
}

.ui-datepicker-header a.ui-datepicker-prev::after {
    font-family: "Material Icons";
    content: "\e314";
    font-size: 1.5rem;
    color: #353535;
}

.ui-datepicker-header a.ui-datepicker-next {
    right: 0;
}

.ui-datepicker-header a.ui-datepicker-next::after {
    font-family: "Material Icons";
    content: "\e315";
    font-size: 1.5rem;
    color: #353535;
}

.ui-datepicker-title {
    text-align: center;
    line-height: 2rem;
    margin-bottom: 0.25rem;
    font-size: 0.875rem;
    font-weight: 500;
    padding-bottom: 0.25rem;
}

.ui-datepicker-week-col {
    color: #353535;
    font-weight: 400;
    font-size: 0.75rem;
}

.autorefresh {
    position: fixed;
    right: 0px;
    top: 130px;
    background-color: whitesmoke;
    z-index: 1;
}

.refreshdrop {
    right: 0;
    left: unset;
}

input[type=checkbox],
input[type=radio] {
    margin-left: 10px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

/* Style for badge notification */
.notification-badges {
    display: inline-block;
}

.notification-badges [data-badge] {
    position: relative;
}

.notification-badges [data-badge]:after {
    position: absolute;
    right: -10px;
    top: -10px;
    min-width: 10px;
    min-height: 10px;
    line-height: 10px;
    padding: 5px;
    color: #fff;
    background-color: #bf1f1f;
    font-size: 10px;
    border-radius: 20px;
    content: attr(data-badge);
    border: solid 1px #c93a3a;
}

/* Style for circle number */
span.step {
    margin-top: 10px;
    background: #5EA226;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    line-height: 1.6em;
    margin-right: 15px;
    text-align: center;
    width: 1.6em;
}

/* @media screen and (max-width: 1024px) {
    .grid-container {
        margin: 20px 10px 20px 10px;
    }

    .pass {
        margin: 20px 10px 20px;
    }

    .wrap {
        left: 88%;
    }
}

@media screen and (max-width: 768px) {
    .wrap {
        left: 83%;
    }
} */

/* For responsive */
@media (max-width: 767px) {
    fieldset {
        padding: 10px
    }

    .all {
        width: 48%;
        margin: 10px 0px;
    }

    .form-container {
        width: 90% !important;
    }

    .modal-header {
        height: fit-content !important;
    }

    .modal-body {
        padding: 0px;
        max-height: calc(80vh - 210px);
        overflow-y: auto;
    }

    #btnAddPassword,
    #btnHistory {
        width: 180px;
    }

    .grid-container {
        grid-template-columns: auto 10px auto;
    }

}

@media (min-width: 768px) and (max-width: 1365px) {}

@media (min-width: 1366px) and (max-width: 1919px) {
    fieldset {
        padding: 10px
    }

    /* .modal-body {
        max-height: calc(100vh - 210px);
        overflow-y: auto;
    } */
}

@media (min-width: 1920) {
    fieldset {
        padding: 10px
    }

    /* .modal-body {
        max-height: calc(100vh - 210px);
        overflow-y: auto;
    } */
}