/* Style for title */
body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
  outline: none !important;
}

h1 {
  font: 600 1.5em/1 "Raleway", sans-serif;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  position: absolute;
  top: 10%;
  width: 50%;
  padding: 30px;
}

.h2form {
  margin: 0 0 30px 0;
  text-align: center;
  width: 100%;
}

.Level {
  font: 600 1.5em/1 "Raleway", sans-serif;
  color: rgba(0, 0, 0, 0.5);
  /* text-align: center; */
}

.swal2-popup {
  font-size: 15px !important;
}

.smiley {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Style for table */
table {
  border-collapse: collapse;
  width: 50%;
  border: 1px solid black;
}

th,
td {
  text-align: center;
  padding: 8px;
  border: 1px solid whitesmoke;
  vertical-align: middle !important;
}

tr:nth-child(even) {
  background-color: white;
}

th {
  background-color: #343a40;
  color: white;
  cursor: pointer;
}

.DoorLockTable:hover {
  background: #dfe6e9;
}

.pagination > .active > a {
  z-index: 1 !important;
}

/* #navSmartDoorLock {
    position: relative;
    left: 16%;
    display: inline-block;
    z-index: 0;
}

#navSmartDoorLock a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

#navSmartDoorLock a.active {
    background-color: #343a40;
    color: white;
} */

.error {
  font-size: 2em;
  text-align: center;
  font-weight: 100;
}

/* #btnreturn {
    padding: 10px 15px;
    background: #343a40;
    border: none;
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

#btnreturn:hover {
    border-color: #4B5D5D;
    box-shadow: inset 0 0 3px 2px black;
    background: #7A0000;
    color: white;
} */

.all {
  /* margin: 10px auto; */
  width: 180px;
  text-transform: uppercase;
  transition: 1.5s all;
  padding: 10px 15px;
  background: #343a40 !important;
  border: none;
  color: white !important;
}

.all:hover {
  border-color: #4b5d5d !important;
  box-shadow: inset 0 0 3px 2px black !important;
  background: #7a0000 !important;
  color: white !important;
}

.btnForm {
  border: none;
  background-color: transparent;
  height: auto;
  width: inherit;
}

.btn3 {
  height: auto;
  width: inherit;
  background-color: white;
  color: black;
  border: 2px solid black;
  transition: border 0.7s ease-out, text-transform 1s, border-radius 1s ease-out;
  cursor: pointer;
  border-bottom: solid 4px #000000;
  border-radius: 3px;
  display: inline-block;
  padding: 0.5em 1em;
}

.btn3:active {
  -ms-transform: translateY(4px);
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  /*Move down*/
  border-bottom: none;
  /*disappears*/
}

.btn3:hover {
  background-color: grey !important;
  color: #000000;
}

/* The popup form - hidden by default */
.form-popup {
  position: fixed !important;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
  display: none;
}

.form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  /* overflow: auto; */
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px 95px;
  margin: auto auto;
  background-color: white;
  border: 2px solid black;
}

.my-custom-scrollbar {
  position: relative;
  height: 400px;
  overflow: auto;
}

.table-wrapper-scroll-y {
  display: block;
  width: 100%;
}

.back {
  position: absolute;
  top: 10px;
  left: 20px;
  width: 32px;
  height: 32px;
  color: black !important;
  opacity: 0.5;
  background-color: transparent !important;
  padding: unset;
  cursor: pointer;
}

.back:hover {
  opacity: 1;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 32px;
  height: 32px;
  opacity: 0.5;
  background-color: transparent !important;
}

.close:hover {
  opacity: 1;
}

.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 2px;
  background-color: #333;
  top: 0;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}

.responsive {
  max-width: 100%;
  height: auto;
}

.autorefresh {
  position: fixed;
  right: 0px;
  top: 130px;
  background-color: whitesmoke;
}

.dropdown-menu {
  right: 0;
  left: unset;
}

input[type="checkbox"],
input[type="radio"] {
  margin-left: 10px;
  cursor: pointer;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.dropdown-toggle::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

/* Style for filer */
.filter {
  color: #202020;
  margin: 0;
  padding: 0;
  display: none;
}

.filter-title {
  margin-right: 8px;
  font-family: Roboto-Regular;
}

.data-tag {
  height: 24px;
  margin-top: 4px;
  line-height: 22px;
  color: #5d5d5d;
  border-color: #dadada;
  border-radius: 12px;
  background: #fff;
  display: inline-block;
  padding: 0 8px;
  border: 1px solid #e9e9e9;
  font-size: 13px;
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  opacity: 1;
  margin-right: 8px;
  cursor: pointer;
  white-space: nowrap;
}

/* For responsive */
@media (max-width: 767px) {
  fieldset {
    padding: 10px;
  }

  .all {
    width: 48%;
    margin: 10px 0px;
  }

  .form-container {
    width: 90% !important;
  }

  .modal-header {
    height: fit-content !important;
  }

  .modal-body {
    padding: 0px;
    max-height: calc(80vh - 210px);
    overflow-y: auto;
  }
}

@media (min-width: 768px) and (max-width: 1365px) {
}

@media (min-width: 1366px) and (max-width: 1919px) {
  fieldset {
    padding: 10px;
  }

  .modal-body {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
  }
}

@media (min-width: 1920) {
  fieldset {
    padding: 10px;
  }

  .modal-body {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
  }
}
