/* Style for body */
body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
  outline: none !important;
}

h1 {
  font: 600 1.5em/1 "Raleway", sans-serif;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  position: absolute;
  top: 10%;
  width: 50%;
  padding: 30px;
}

h4 {
  font-size: 20px;
  font-weight: 400;
  margin: 10px 0;
}

h6 {
  font-size: 16px;
  font-weight: 400;
  margin: 10px 0;
}

.h2form {
  text-align: center;
  width: 100%;
  margin-top: 0;
}

.Level {
  font: 600 1.5em/1 "Raleway", sans-serif;
  color: rgba(0, 0, 0, 0.5);
  /* text-align: center; */
}

.swal2-popup {
  font-size: 15px !important;
}

.smiley {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Style for table */
table {
  border-collapse: collapse;
  border: 1px solid black;
}

th,
td {
  text-align: center;
  padding: 8px;
  border: 1px solid whitesmoke;
  vertical-align: middle !important;
}

tr:nth-child(even) {
  background-color: white;
}

th {
  background-color: #343a40;
  color: white;
  cursor: pointer;
}

.SwitchTable:hover {
  background: #dfe6e9;
}

.pagination > .active > a {
  z-index: 1 !important;
}

/* Style for button */
.btn3 {
  height: auto;
  width: inherit;
  background-color: white;
  color: black;
  border: 2px solid black;
  transition: border 0.7s ease-out, text-transform 1s, border-radius 1s ease-out;
  cursor: pointer;
  border-bottom: solid 4px #000000;
  border-radius: 3px;
  display: inline-block;
  padding: 0.5em 1em;
}

.btn3:active {
  -ms-transform: translateY(4px);
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  /*Move down*/
  border-bottom: none;
  /*disappears*/
}

.btn3:hover {
  background-color: grey !important;
  color: #000000;
}

.all {
  /* margin: 0px 10px; */
  width: 180px;
  text-transform: uppercase;
  transition: 1.5s all;
  padding: 10px 15px;
  background: #343a40 !important;
  border: none;
  color: white !important;
}

.all:hover {
  border-color: #4b5d5d !important;
  box-shadow: inset 0 0 3px 2px black !important;
  background: #7a0000 !important;
  color: white !important;
}

.btnTimer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.back {
  position: absolute;
  top: 10px;
  left: 20px;
  width: 32px;
  height: 32px;
  color: black !important;
  opacity: 0.5;
  background-color: transparent !important;
  padding: unset;
  cursor: pointer;
}

.back:hover {
  opacity: 1;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 32px;
  height: 32px;
  opacity: 0.5;
  background-color: transparent !important;
}

.close:hover {
  opacity: 1;
}

.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 2px;
  background-color: #333;
  top: 0;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}

.error {
  font-size: 2em;
  text-align: center;
  font-weight: 100;
}

.form-popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
  display: none;
}

.form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  /* overflow: auto; */
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px 95px;
  margin: auto auto;
  background-color: white;
  border: 2px solid black;
}

.grid-container {
  text-align: center;
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 0px 30px 0px 30px;
  margin: auto;
  vertical-align: middle;
  justify-items: center;
  /* position: relative;
    left: 50px; */
}

.grid-container > div {
  margin: auto 0 auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  font-size: 3em;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* DelayTimer style */
.title {
  text-align: center !important;
}

.div {
  position: relative;
  right: 10px;
}

select:enabled {
  cursor: pointer;
}

:root {
  --omrs-color-ink-lowest-contrast: rgba(47, 60, 85, 0.18);
  --omrs-color-ink-low-contrast: rgba(60, 60, 67, 0.3);
  --omrs-color-ink-medium-contrast: rgba(19, 19, 21, 0.6);
  --omrs-color-interaction: #1e4bd1;
  --omrs-color-interaction-minus-two: rgba(73, 133, 224, 0.12);
  --omrs-color-danger: #b50706;
  --omrs-color-bg-low-contrast: #eff1f2;
  --omrs-color-ink-high-contrast: #121212;
  --omrs-color-bg-high-contrast: #ffffff;
}

/** END: Non Openmrs CSS **/
div.omrs-input-group {
  margin-bottom: 1.5rem;
  position: relative;
  width: 20.4375rem;
}

/* Input*/
.omrs-input-underlined > input,
.omrs-input-filled > input {
  border: none;
  border-bottom: 0.125rem solid var(--omrs-color-ink-medium-contrast);
  width: 100%;
  height: 3rem;
  /* font-size: 1.0625rem; */
  padding-left: 0.875rem;
  /* line-height: 147.6%; */
  padding-top: 0.825rem;
  padding-bottom: 0.5rem;
}

.omrs-input-underlined > input:focus,
.omrs-input-filled > input:focus {
  outline: none;
}

.omrs-input-underlined > .omrs-input-label,
.omrs-input-filled > .omrs-input-label {
  position: absolute;
  top: 0.9375rem;
  left: 0.875rem;
  line-height: 147.6%;
  color: var(--omrs-color-ink-medium-contrast);
  transition: top 0.2s;
}

.omrs-input-underlined > svg,
.omrs-input-filled > svg {
  position: absolute;
  top: -0.1rem;
  right: -1.5rem;
  fill: var(--omrs-color-ink-medium-contrast);
}

.omrs-input-underlined > .omrs-input-helper,
.omrs-input-filled > .omrs-input-helper {
  font-size: 0.9375rem;
  color: var(--omrs-color-ink-medium-contrast);
  letter-spacing: 0.0275rem;
  margin: 0.125rem 0.875rem;
}

.omrs-input-underlined > input:hover,
.omrs-input-filled > input:hover {
  background: var(--omrs-color-interaction-minus-two);
  border-color: var(--omrs-color-ink-high-contrast);
}

.omrs-input-underlined > input:focus + .omrs-input-label,
.omrs-input-underlined > input:valid + .omrs-input-label,
.omrs-input-filled > input:focus + .omrs-input-label,
.omrs-input-filled > input:valid + .omrs-input-label {
  top: 0;
  font-size: 0.9375rem;
  margin-bottom: 32px;
}

.omrs-input-underlined:not(.omrs-input-danger)
  > input:focus
  + .omrs-input-label,
.omrs-input-filled:not(.omrs-input-danger) > input:focus + .omrs-input-label {
  color: var(--omrs-color-interaction);
}

.omrs-input-underlined:not(.omrs-input-danger) > input:focus,
.omrs-input-filled:not(.omrs-input-danger) > input:focus {
  border-color: var(--omrs-color-interaction);
}

.omrs-input-underlined:not(.omrs-input-danger) > input:focus ~ svg,
.omrs-input-filled:not(.omrs-input-danger) > input:focus ~ svg {
  fill: var(--omrs-color-ink-high-contrast);
}

/** DISABLED **/

.omrs-input-underlined > input:disabled {
  background: var(--omrs-color-bg-low-contrast);
  cursor: not-allowed;
}

.omrs-input-underlined > input:disabled + .omrs-input-label,
.omrs-input-underlined > input:disabled ~ .omrs-input-helper {
  color: var(--omrs-color-ink-low-contrast);
}

.omrs-input-underlined > input:disabled ~ svg {
  fill: var(--omrs-color-ink-low-contrast);
}

/** DANGER **/

.omrs-input-underlined.omrs-input-danger > .omrs-input-label,
.omrs-input-underlined.omrs-input-danger > .omrs-input-helper,
.omrs-input-filled.omrs-input-danger > .omrs-input-label,
.omrs-input-filled.omrs-input-danger > .omrs-input-helper {
  color: var(--omrs-color-danger);
}

.omrs-input-danger > svg {
  fill: var(--omrs-color-danger);
  top: -0.1rem;
  right: -1.5rem;
}

.omrs-input-danger > input {
  border-color: var(--omrs-color-danger);
}

.omrs-input-underlined > input {
  background: var(--omrs-color-bg-high-contrast);
}

.omrs-input-filled > input {
  background: var(--omrs-color-bg-low-contrast);
}

/* EndStyle */

/* Style for on/off switch */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* End style */

.my-custom-scrollbar {
  position: relative;
  height: 400px;
  overflow: auto;
}

.table-wrapper-scroll-y {
  display: block;
  width: 100%;
}

.autorefresh {
  position: fixed;
  right: 0px;
  top: 130px;
  background-color: whitesmoke;
}

.dropdown-menu {
  right: 0;
  left: unset;
}

input[type="checkbox"],
input[type="radio"] {
  margin-left: 10px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.dropdown-toggle::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

/* Style for filer */
.filter {
  color: #202020;
  margin: 0;
  padding: 0;
  display: none;
}

.filter-title {
  margin-right: 8px;
  font-family: Roboto-Regular;
}

.data-tag {
  height: 24px;
  margin-top: 4px;
  line-height: 22px;
  color: #5d5d5d;
  border-color: #dadada;
  border-radius: 12px;
  background: #fff;
  display: inline-block;
  padding: 0 8px;
  border: 1px solid #e9e9e9;
  font-size: 13px;
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  opacity: 1;
  margin-right: 8px;
  cursor: pointer;
  white-space: nowrap;
}

/* For responsive */
@media (max-width: 767px) {
  fieldset {
    padding: 10px;
  }

  label {
    margin-bottom: 0px;
  }

  .form-container {
    width: 90% !important;
  }

  .modal-header {
    height: fit-content !important;
  }

  .modal-body {
    padding: 0px;
  }

  .grid-container {
    padding: 0px;
  }

  .switchImage {
    width: 100px;
  }

  .all {
    width: 48%;
    margin: 10px 0px;
  }

  #my24HContainer {
    height: 90%;
    overflow: auto;
  }

  .my24HDiv {
    float: none !important;
  }
}

@media (min-width: 768px) and (max-width: 1365px) {
}

@media (min-width: 1366px) and (max-width: 1919px) {
  fieldset {
    padding: 10px;
  }
}

@media (min-width: 1920) {
  fieldset {
    padding: 10px;
  }
}
