body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
  outline: none !important;
}

/* Style for title */
h1 {
  font: 600 1.5em/1 "Raleway", sans-serif;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  position: absolute;
  width: 50%;
}

.h2form {
  margin-top: 0;
  text-align: center;
  width: 100%;
}

/* .span,
.span:after {
    font-weight: 900;
    color: #fff;
    white-space: nowrap;
    display: inline-block;
    position: relative;
    letter-spacing: .1em;
    padding: .2em 0 .25em 0;
}

.span {
    font-size: 4em;
    z-index: 0;
    text-shadow: .04em .04em 0 #9cb8b3;
}

.span:after {
    content: attr(data-shadow-text);
    color: rgba(0, 0, 0, .35);
    text-shadow: none;
    position: absolute;
    left: .0875em;
    top: .0875em;
    z-index: -1;
    
} */

.Level {
  font: 600 1.5em/1 "Raleway", sans-serif;
  color: rgba(0, 0, 0, 0.5);
  /* text-align: center; */
}

.keys {
  width: 180px !important;
}

.key {
  width: 60px !important;
}

.swal2-popup {
  font-size: 15px !important;
}

/* #btnreturn {
    padding: 10px 15px;
    background: #343a40;
    border: none;
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

#btnreturn:hover {
    border-color: #4B5D5D;
    box-shadow: inset 0 0 3px 2px black;
    background: #7A0000;
    color: white;
} */

/* Style for card */
/* Float four columns side by side */
.column {
  display: inline-block;
  margin: 15px;
}

.row {
  margin: 0 -5px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #8fbc8f;
  color: white;
  /* width: 100px */
}

.container {
  display: inline-block;
  align-items: flex-start;
  justify-content: space-around;
  margin: 0px 0px 30px;
  border: 2px solid whitesmoke;
  padding: 30px;
  border-radius: 4px;
}

.btnAction {
  cursor: pointer;
  position: relative;
  border: none;
  transition-duration: 0.4s;
  overflow: hidden;
  box-shadow: 0 5px 15px #8fbc8f;
  border-radius: 50%;
}

.btnAction:disabled,
.btnAction[disabled] {
  opacity: 0.3;
}

.btnAction:disabled:hover,
.btnAction[disabled]:hover {
  transform: scale(1);
  opacity: 1;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  opacity: 0.3;
}

.btnAction:hover:enabled {
  background: #fff;
  box-shadow: 0 0 0 4px #1abc9c;
  /* border: 2px solid  #1abc9c; */
  border-radius: 50%;
  color: #000;
}

.btnAction:after:enabled {
  content: "";
  background: #1abc9c;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}

.btnAction:active:after:enabled {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}

.btnAction:focus {
  outline: 0;
}

.all {
  /* margin: 10px auto; */
  text-transform: uppercase;
  transition: 1.5s all;
  padding: 10px 15px;
  background: #343a40 !important;
  border: none;
  color: white !important;
  width: 180px;
}

.all:hover {
  border-color: #4b5d5d !important;
  box-shadow: inset 0 0 3px 2px black !important;
  background: #7a0000 !important;
  color: white !important;
}

#myDIV1,
#myDIV2 {
  display: block;
  width: 100%;
  padding: 30px 50px;
  background: #ccffff;
  box-shadow: 5px 10px #888888;
  border-radius: 10px;
}

/* The popup form - hidden by default */
.form-popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
  display: none;
}

/* Add styles to the form container */
.form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  /* overflow: hidden; */
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px 95px;
  margin: auto auto;
  background-color: white;
  border: 2px solid black;
}

.grid-container {
  display: grid;
  grid-template-columns: 50px auto 100px;
  grid-gap: 10px;
  margin-top: 5px;
  position: relative;
}

.grid-container > div {
  text-align: center;
}

.cardHeader {
  margin: auto 0 auto 0;
  padding: 0px;
}

h4.title {
  text-align: center !important;
  margin-bottom: 45px;
}

.error {
  font-size: 2em;
  text-align: center;
  font-weight: 100;
}

.autorefresh {
  position: fixed;
  right: 0px;
  top: 130px;
  background-color: whitesmoke;
}

.dropdown-menu {
  right: 0;
  left: unset;
}

input[type="checkbox"],
input[type="radio"] {
  margin-left: 10px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.dropdown-toggle::before {
  display: none;
}

.dropdown-toggle::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

/* For responsive */
@media (max-width: 767px) {
  fieldset {
    padding: 10px;
  }

  .all {
    width: 48%;
    margin: 10px 0px;
  }

  .cardHeader {
    font-size: 17px;
    width: 100%;
  }

  .grid-container {
    grid-template-columns: auto;
  }

  .form-container {
    width: 90% !important;
  }

  .col-xs-5 {
    margin-top: 10px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  .col-xs-5 {
    margin-top: 10px;
  }
}

@media (min-width: 768px) and (max-width: 1365px) {
}

@media (min-width: 1366px) and (max-width: 1919px) {
  fieldset {
    padding: 10px;
  }
}

@media (min-width: 1920) {
  fieldset {
    padding: 10px;
  }
}
